@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,800);
@import url(https://fonts.googleapis.com/css?family=Montserrat:700|Hind:400,500,700);
.some-random-class{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-flex-wrap:nowrap;-ms-flex-wrap:nowrap;flex-wrap:nowrap;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-align-content:stretch;-ms-flex-line-pack:stretch;align-content:stretch;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center}
.image{background-color:#333;background-image:url(http://placehold.it/800x450);background-position:center;background-size:cover}
html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
body{margin:0}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}
audio,canvas,progress,video{display:inline-block;vertical-align:baseline}
audio:not([controls]){display:none;height:0}
[hidden],template{display:none}
a{background-color:transparent}
a:active,a:hover{outline:0}
abbr[title]{border-bottom:1px dotted}
b,strong{font-weight:700}
dfn{font-style:italic}
h1{font-size:2em;margin:.67em 0}
mark{background:#ff0;color:#000}
small{font-size:80%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-.5em}
sub{bottom:-.25em}
img{border:0}
svg:not(:root){overflow:hidden}
figure{margin:1em 40px}
hr{box-sizing:content-box;height:0}
pre{overflow:auto}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}
button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}
button{overflow:visible}
button,select{text-transform:none}
button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}
button[disabled],html input[disabled]{cursor:default}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
input{line-height:normal}
input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}
input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}
fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}
legend{border:0;padding:0}
textarea{overflow:auto}
optgroup{font-weight:700}
table{border-collapse:collapse;border-spacing:0}
td,th{padding:0}
body,button,input{font-family:Hind,Helvetica,sans-serif,"Lucida Grande","Lucida Sans Unicode",Tahoma,Verdana,sans-serif}
h1,h2,h3,h4,h5,h6{font-family:Montserrat,Helvetica,sans-serif}
h3{font-size:16px}
@media screen and (min-width:1200px){h3{font-size:18px}}
@media screen and (min-width:1500px){h3{font-size:22px}}
html{box-sizing:border-box}
*,:after,:before{box-sizing:inherit}
body{background-color:#fff}
a:active{-webkit-transition:color .3s;transition:color .3s}
::-moz-selection{background:#333;color:#FFF}
::selection{background:#333;color:#FFF}
img{float:left;margin:0;padding:0;width:100%}
h4{text-transform:uppercase;font-size:14px;text-align:center}
a{color:inherit}
a:active,a:hover{text-decoration:none}
.text-centre{text-align:center}
.icons{background-color:#333;color:#FFF;font-size:30px;padding:0;margin:0;height:80px;width:100%}
@media screen and (min-width:700px){.icons{height:100px}}
@media screen and (min-width:800px){.icons{height:100px;font-size:40px}}
i{float:left;width:auto}
.fa{margin:0 5px;width:auto}
.icons:hover{background-color:#444;color:#FFF}
.icon-container{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-flex-wrap:nowrap;-ms-flex-wrap:nowrap;flex-wrap:nowrap;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-align-content:stretch;-ms-flex-line-pack:stretch;align-content:stretch;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center}
.icon-item{-webkit-box-ordinal-group:1;-webkit-order:0;-ms-flex-order:0;order:0;margin:0 5px;-webkit-box-flex:0;-webkit-flex:0 1 auto;-ms-flex:0 1 auto;flex:0 1 auto;-webkit-align-self:auto;-ms-flex-item-align:auto;align-self:auto}
footer{background-color:#333;margin:60px 0 0;padding:50px 0 30px;color:#fff;float:left;width:100%}
footer a:active,footer a:hover{color:#FFF}
footer h3{font-size:24px;text-transform:uppercase}
footer .container ul{padding:0}
footer ul li{float:left;list-style:none;margin:5px 0;color:#CCC;width:100%;font-size:16px}
footer .col-md-6{border-top:1px solid #444;margin:20px 0 0;padding:20px 0 0;text-align:center}
@media screen and (min-width:480px){footer .col-md-6:nth-child(1){text-align:left;padding:20px 0 0}}
@media screen and (min-width:480px){footer .col-md-6:nth-child(2){text-align:right}}
footer .footer-logo{height:100px;margin-right:10px;width:100px}
footer p{font-size:14px;width:auto}
footer .two-columns{columns:2;-webkit-columns:2;-moz-columns:2}
header{background-color:#333;height:80px;padding:0 5%;width:100%;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-flex-wrap:nowrap;-ms-flex-wrap:nowrap;flex-wrap:nowrap;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;-webkit-align-content:stretch;-ms-flex-line-pack:stretch;align-content:stretch;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center}
@media screen and (min-width:900px){header{height:80px;padding:0 5%}}
@media screen and (min-width:1200px){header{height:100px;padding:0 10%}}
@media screen and (min-width:1500px){header{padding:0 20%}}
header nav{display:none;visibility:hidden}
@media screen and (min-width:767px){header nav{display:block;visibility:visible}}
header nav ul li a{color:#FFF;font-size:12px;margin:0 10px 0 0}
@media screen and (min-width:900px){header nav ul li a{font-size:14px}}
header nav ul li a:hover{color:#FFF;background-color:#444}
header nav ul.dropdown-menu li a{margin:0}
header .navbar-nav>li>a{text-shadow:none;padding:10px}
@media screen and (min-width:1500px){header .navbar-nav>li>a{padding:15px}}
header .navbar-nav>li>a:hover{background-color:#444;color:#CCC}
header .dropdown a{color:#fff}
header .navbar-nav>li>.dropdown{border:#444 solid 1px;padding:10px}
@media screen and (min-width:1500px){header .navbar-nav>li>.dropdown{padding:15px 30px}}
header .dropdown:hover{background-color:#333}
header .nav .open>a,header .nav .open>a:focus,header .nav .open>a:hover{background-color:#444;border-color:#555;color:#FFF}
header .navbar-nav>li>.dropdown-menu{background-color:#444}
header .navbar-nav>li>.dropdown-menu a{color:#FFF}
header .dropdown-menu>li>a{padding:6px 20px}
header .dropdown-menu>li>a:focus,header .dropdown-menu>li>a:hover{background-color:#555;background-image:none;color:#CCC}
.logo{font-family:Montserrat,sans-serif;color:#fff;font-size:24px;text-transform:uppercase;font-weight:800;float:none;width:auto}
@media screen and (min-width:900px){.logo{font-size:36px}}
.logo span{color:#ddd}
.logo span:hover{color:orange}
.logo a{color:#fff}
.logo a:hover{text-decoration:none}
.newbar{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-flex-wrap:nowrap;-ms-flex-wrap:nowrap;flex-wrap:nowrap;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-align-content:stretch;-ms-flex-line-pack:stretch;align-content:stretch;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;background-color:#333;border-bottom:1px solid #444;color:#fff;height:40px;width:100%}
@media screen and (min-width:1500px){.newbar{height:60px}}
.newbar button{background-color:#333;border:#444 1px solid;line-height:1;margin-left:10px;padding:10px 12px 7px;text-transform:uppercase}
.newbar button:hover{background-color:#444;border-color:#555}
.newbar p{font-size:14px;line-height:1;padding:0;margin:auto 0;text-align:center}
.newbar a{color:orange}
.newbar a:hover{color:#ff8c00}
@media screen and (min-width:768px){.menu-btn{display:none;visibility:hidden}}
.pushy{position:fixed;width:200px;height:100%;top:0;z-index:9999;background:#000;overflow:auto;-webkit-overflow-scrolling:touch}
.pushy a{display:block;color:#b3b3b1;padding:15px 30px;text-decoration:none}
.pushy a:hover{color:#FFF}
.pushy ul:first-child{margin-top:10px}
.pushy.pushy-left{left:0}
.pushy.pushy-right{right:0}
.pushy-content{visibility:hidden}
.pushy-left{-webkit-transform:translate3d(-200px,0,0);-ms-transform:translate3d(-200px,0,0);transform:translate3d(-200px,0,0)}
.pushy-open-left #container,.pushy-open-left .push,.pushy-right{-webkit-transform:translate3d(200px,0,0);-ms-transform:translate3d(200px,0,0);transform:translate3d(200px,0,0)}
.pushy-open-right #container,.pushy-open-right .push{-webkit-transform:translate3d(-200px,0,0);-ms-transform:translate3d(-200px,0,0);transform:translate3d(-200px,0,0)}
.pushy-open-left .pushy,.pushy-open-right .pushy{-webkit-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
.pushy-open-left .pushy-content,.pushy-open-right .pushy-content{visibility:visible}
#container,.push,.pushy{-webkit-transition:-webkit-transform .2s cubic-bezier(0.16,.68,.43,.99);transition:transform .2s cubic-bezier(0.16,.68,.43,.99)}
.pushy-content{-webkit-transition:visibility .2s cubic-bezier(0.16,.68,.43,.99);transition:visibility .2s cubic-bezier(0.16,.68,.43,.99)}
.site-overlay{display:none}
.pushy-open-left .site-overlay,.pushy-open-right .site-overlay{display:block;position:fixed;top:0;right:0;bottom:0;left:0;z-index:9998;background-color:rgba(0,0,0,.5);-webkit-animation:fade 500ms;animation:fade 500ms}
@keyframes fade{0%{opacity:0}
100%{opacity:1}}
@-webkit-keyframes fade{0%{opacity:0}
100%{opacity:1}}
.pushy-submenu ul{padding-left:15px;-webkit-transition:max-height .2s ease-in-out,visibility .2s ease-in-out;transition:max-height .2s ease-in-out,visibility .2s ease-in-out}
.pushy-submenu ul .pushy-link{-webkit-transition:opacity .2s ease-in-out;transition:opacity .2s ease-in-out}
.pushy-submenu button{width:100%;color:#b3b3b1;padding:15px 30px;text-align:left;background:0 0;border:0}
.pushy-submenu button:hover{color:#FFF}
.pushy-submenu>a,.pushy-submenu>button{position:relative}
.pushy-submenu>a::after,.pushy-submenu>button::after{content:'';display:block;height:11px;width:8px;position:absolute;top:50%;right:15px;background:url(/wp-content/themes/img/arrow.svg) no-repeat;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);-webkit-transition:-webkit-transform .2s;transition:transform .2s}
.pushy-submenu-closed ul{max-height:0;overflow:hidden;visibility:hidden}
.pushy-submenu-closed .pushy-link{opacity:0}
.pushy-submenu-open ul{max-height:1000px;visibility:visible}
.pushy-submenu-open .pushy-link{opacity:1;list-style:none}
.pushy-submenu-open a::after,.pushy-submenu-open button::after{-webkit-transform:translateY(-50%) rotate(90deg);-ms-transform:translateY(-50%) rotate(90deg);transform:translateY(-50%) rotate(90deg)}
body,html{overflow-x:hidden}
ul{margin:0;padding:0}
#container{position:relative;padding:20px 40px;padding-top:80px}
.menu-btn{width:auto;font-size:20px;margin:0;padding:10px;background:#444;color:#FFF;text-align:center;cursor:pointer;border:0}
@media screen and (min-width:768px){.menu-btn{display:none;visibility:hidden}}
.menu-btn:hover{opacity:.6}
.site-header{position:fixed;background:#000;color:#FFF;width:100%;padding:20px 0;text-align:center;z-index:9998}
.site-footer{position:relative;border-top:1px solid #EEE;color:#999;padding:10px;font-size:.8em;text-align:center}
.loop-blog{margin:10px 0;text-align:left}
.loop-blog .image{background-size:cover;background-position:center;height:240px}
.loop-blog h3{color:#444;float:left;font-family:Montserrat,sans-serif;font-size:18px;font-weight:300;margin:20px 0 10px;width:100%}
@media screen and (min-width:900px){.loop-blog h3{font-size:26px}}
.loop-blog h4{color:orange;float:left;font-size:10px;margin:0}
@media screen and (min-width:900px){.loop-blog h4{font-size:12px}}
.loop-blog h4 em{color:#000;margin-right:3px}
.loop-blog p{font-size:12px}
@media screen and (min-width:900px){.loop-blog p{font-size:16px}}
.loop-blog ul{padding:0}
.loop-blog a{color:#333}
.loop-blog a:hover{text-decoration:none}
.loop-blog ul li{list-style:none;padding:0 0 10px}
.loop-blog ul li:nth-child(2){border-top:1px solid #ddd;border-bottom:1px solid #ddd}
.loop-blog:nth-child(3n+5){clear:both}
.all-themes .image{background-size:cover;background-position:center;height:240px}
.all-themes button{padding:10px 20px;background-color:#FFF;font-weight:800;text-transform:uppercase;border-radius:5px;border:1px solid #333}
.all-themes .col-md-4,.all-themes .col-md-6{margin:0 0 15px}
.all-themes .col-md-4 h3,.all-themes .col-md-6 h3{background-color:#333;margin:0;padding:15px 0 0 15px}
.all-themes .col-md-4 p,.all-themes .col-md-6 p{background-color:#333;padding:0 0 10px 15px}
.all-themes .col-md-4 a,.all-themes .col-md-6 a{color:#FFF}
.all-themes .col-md-4 a:hover,.all-themes .col-md-6 a:hover{color:#DDD;text-decoration:none}
.all-themes .col-md-4 span,.all-themes .col-md-6 span{background-color:#444;float:right;border:1px solid #444;font-size:12px;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-flex-wrap:nowrap;-ms-flex-wrap:nowrap;flex-wrap:nowrap;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-align-content:stretch;-ms-flex-line-pack:stretch;align-content:stretch;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;margin-right:15px;margin-top:20px;padding:5px 10px;text-transform:uppercase;width:auto}
aside{float:left}
aside h2,aside h3,aside img,aside p{background-color:#EEE}
aside h2,aside h3,aside p{margin:0;font-size:14px;float:left;padding:5px 8%;width:100%}
aside button{border:1px solid #444;background-color:#eee;border-radius:5px;color:#444;float:left;font-weight:800;margin:0 0 10px;padding:10px 20px;text-transform:uppercase}
aside form{background-color:#eee;float:left;padding:20px 20px 10px}
aside img{background-color:#eee;float:left;padding:0 0 20px}
aside h2{font-size:18px}
aside h3{font-size:16px}
aside .tags{background-color:#eee;float:left;margin:0;padding:10px 8%;list-style:none;width:100%}
aside .tags ul{float:left;padding:0;width:100%}
aside .tags ul .tags li{border:1px solid #444;background-color:#444;color:#fff;float:left;font-size:14px;margin:0 5px 5px 0;padding:5px 10px;width:auto}
article{float:left;margin:60px 0;width:100%}
@media screen and (min-width:600px){article{margin:60px 8%;width:84%}}
@media screen and (min-width:900px){article{margin:60px 20%;width:60%}}
@media screen and (min-width:1200px){article{margin:60px 25%;width:50%}}
@media screen and (min-width:1500px){article{margin:80px 30%;width:40%}}
article h1,article h2,article h3{color:#333;font-weight:800;line-height:1.2;padding:10px 0;margin:0 10% 10px}
article h1{font-size:24px}
@media screen and (min-width:600px){article h1{font-size:32px}}
@media screen and (min-width:1500px){article h1{font-size:40px}}
article h2{font-size:22px}
@media screen and (min-width:1500px){article h2{font-size:26px}}
@media screen and (min-width:1500px){article h2{font-size:30px}}
article p,article ul{font-size:16px;line-height:1.5;padding:0 10%}
@media screen and (min-width:900px){article p,article ul{font-size:18px}}
@media screen and (min-width:1500px){article p,article ul{font-size:20px}}
article ul{list-style:none}
article img{margin:10px 0 20px}
article figure{float:left;margin-bottom:20px}
article figure figcaption{background-color:#333;color:#FFF;float:left;line-height:1;margin:0;padding:15px 20px;width:100%}
article figure img{float:left;margin:0}
body.single-support article a{text-decoration:underline}
body.single-support form.wpcf7-form{background-color:#EEE;margin-top:25px;padding:50px 0}
.home .features .col-md-4,.home .features .col-md-6,.page .col-md-8 .col-md-4,.page .col-md-8 .col-md-6,.single-themes .col-md-8 .col-md-4,.single-themes .col-md-8 .col-md-6,body.documentation .col-md-12 .col-md-4,body.documentation .col-md-12 .col-md-6,body.features .col-md-12 .col-md-4,body.features .col-md-12 .col-md-6{margin-bottom:10px}
.home .features .col-md-4 h3,.home .features .col-md-4 p,.home .features .col-md-6 h3,.home .features .col-md-6 p,.page .col-md-8 .col-md-4 h3,.page .col-md-8 .col-md-4 p,.page .col-md-8 .col-md-6 h3,.page .col-md-8 .col-md-6 p,.single-themes .col-md-8 .col-md-4 h3,.single-themes .col-md-8 .col-md-4 p,.single-themes .col-md-8 .col-md-6 h3,.single-themes .col-md-8 .col-md-6 p,body.documentation .col-md-12 .col-md-4 h3,body.documentation .col-md-12 .col-md-4 p,body.documentation .col-md-12 .col-md-6 h3,body.documentation .col-md-12 .col-md-6 p,body.features .col-md-12 .col-md-4 h3,body.features .col-md-12 .col-md-4 p,body.features .col-md-12 .col-md-6 h3,body.features .col-md-12 .col-md-6 p{background-color:#EEE;float:right;line-height:1.2;margin:0;padding:5px 20px;width:100%}
.home .features .col-md-4 h3,.home .features .col-md-6 h3,.page .col-md-8 .col-md-4 h3,.page .col-md-8 .col-md-6 h3,.single-themes .col-md-8 .col-md-4 h3,.single-themes .col-md-8 .col-md-6 h3,body.documentation .col-md-12 .col-md-4 h3,body.documentation .col-md-12 .col-md-6 h3,body.features .col-md-12 .col-md-4 h3,body.features .col-md-12 .col-md-6 h3{padding-top:20px}
.home .features .col-md-4 p,.home .features .col-md-6 p,.page .col-md-8 .col-md-4 p,.page .col-md-8 .col-md-6 p,.single-themes .col-md-8 .col-md-4 p,.single-themes .col-md-8 .col-md-6 p,body.documentation .col-md-12 .col-md-4 p,body.documentation .col-md-12 .col-md-6 p,body.features .col-md-12 .col-md-4 p,body.features .col-md-12 .col-md-6 p{padding-bottom:10px}
@media screen and (min-width:300px){.home .features .col-md-4,.home .features .col-md-6,.page .col-md-8 .col-md-4,.page .col-md-8 .col-md-6,.single-themes .col-md-8 .col-md-4,.single-themes .col-md-8 .col-md-6,body.documentation .col-md-12 .col-md-4,body.documentation .col-md-12 .col-md-6,body.features .col-md-12 .col-md-4,body.features .col-md-12 .col-md-6{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-flex-wrap:nowrap;-ms-flex-wrap:nowrap;flex-wrap:nowrap;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;-webkit-align-content:stretch;-ms-flex-line-pack:stretch;align-content:stretch;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center}
.home .features .col-md-4 .icon-container,.home .features .col-md-6 .icon-container,.page .col-md-8 .col-md-4 .icon-container,.page .col-md-8 .col-md-6 .icon-container,.single-themes .col-md-8 .col-md-4 .icon-container,.single-themes .col-md-8 .col-md-6 .icon-container,body.documentation .col-md-12 .col-md-4 .icon-container,body.documentation .col-md-12 .col-md-6 .icon-container,body.features .col-md-12 .col-md-4 .icon-container,body.features .col-md-12 .col-md-6 .icon-container{margin:0;margin-right:20px;max-width:80px;text-align:center}}
@media screen and (min-width:300px) and (min-width:700px){.home .features .col-md-4 .icon-container,.home .features .col-md-6 .icon-container,.page .col-md-8 .col-md-4 .icon-container,.page .col-md-8 .col-md-6 .icon-container,.single-themes .col-md-8 .col-md-4 .icon-container,.single-themes .col-md-8 .col-md-6 .icon-container,body.documentation .col-md-12 .col-md-4 .icon-container,body.documentation .col-md-12 .col-md-6 .icon-container,body.features .col-md-12 .col-md-4 .icon-container,body.features .col-md-12 .col-md-6 .icon-container{max-width:90px;min-width:90px;max-height:90px}}
@media screen and (min-width:300px) and (min-width:1366px){.home .features .col-md-4 .icon-container,.home .features .col-md-6 .icon-container,.page .col-md-8 .col-md-4 .icon-container,.page .col-md-8 .col-md-6 .icon-container,.single-themes .col-md-8 .col-md-4 .icon-container,.single-themes .col-md-8 .col-md-6 .icon-container,body.documentation .col-md-12 .col-md-4 .icon-container,body.documentation .col-md-12 .col-md-6 .icon-container,body.features .col-md-12 .col-md-4 .icon-container,body.features .col-md-12 .col-md-6 .icon-container{max-width:100px;min-width:100px;max-height:100px}}
@media screen and (min-width:300px){.home .features .col-md-4 h3,.home .features .col-md-4 p,.home .features .col-md-6 h3,.home .features .col-md-6 p,.page .col-md-8 .col-md-4 h3,.page .col-md-8 .col-md-4 p,.page .col-md-8 .col-md-6 h3,.page .col-md-8 .col-md-6 p,.single-themes .col-md-8 .col-md-4 h3,.single-themes .col-md-8 .col-md-4 p,.single-themes .col-md-8 .col-md-6 h3,.single-themes .col-md-8 .col-md-6 p,body.documentation .col-md-12 .col-md-4 h3,body.documentation .col-md-12 .col-md-4 p,body.documentation .col-md-12 .col-md-6 h3,body.documentation .col-md-12 .col-md-6 p,body.features .col-md-12 .col-md-4 h3,body.features .col-md-12 .col-md-4 p,body.features .col-md-12 .col-md-6 h3,body.features .col-md-12 .col-md-6 p{background-color:#FFF}
.home .features .col-md-4 h3,.home .features .col-md-6 h3,.page .col-md-8 .col-md-4 h3,.page .col-md-8 .col-md-6 h3,.single-themes .col-md-8 .col-md-4 h3,.single-themes .col-md-8 .col-md-6 h3,body.documentation .col-md-12 .col-md-4 h3,body.documentation .col-md-12 .col-md-6 h3,body.features .col-md-12 .col-md-4 h3,body.features .col-md-12 .col-md-6 h3{line-height:1.1;margin:0;padding:0;width:100%}
.home .features .col-md-4 p,.home .features .col-md-6 p,.page .col-md-8 .col-md-4 p,.page .col-md-8 .col-md-6 p,.single-themes .col-md-8 .col-md-4 p,.single-themes .col-md-8 .col-md-6 p,body.documentation .col-md-12 .col-md-4 p,body.documentation .col-md-12 .col-md-6 p,body.features .col-md-12 .col-md-4 p,body.features .col-md-12 .col-md-6 p{line-height:1.2;font-size:14px;margin:5px 0 0;padding:0;width:100%}}
@media screen and (min-width:300px) and (min-width:1366px){.home .features .col-md-4 p,.home .features .col-md-6 p,.page .col-md-8 .col-md-4 p,.page .col-md-8 .col-md-6 p,.single-themes .col-md-8 .col-md-4 p,.single-themes .col-md-8 .col-md-6 p,body.documentation .col-md-12 .col-md-4 p,body.documentation .col-md-12 .col-md-6 p,body.features .col-md-12 .col-md-4 p,body.features .col-md-12 .col-md-6 p{font-size:15px}}
.page .col-md-8 .col-md-4,.page .col-md-8 .col-md-6,.single-themes .col-md-8 .col-md-4,.single-themes .col-md-8 .col-md-6{width:100%}
@media screen and (min-width:300px){.page .col-md-8 .col-md-4,.page .col-md-8 .col-md-6,.single-themes .col-md-8 .col-md-4,.single-themes .col-md-8 .col-md-6{width:100%}}
@media screen and (min-width:700px){.page .col-md-8 .col-md-4,.page .col-md-8 .col-md-6,.single-themes .col-md-8 .col-md-4,.single-themes .col-md-8 .col-md-6{width:50%}}
@media screen and (min-width:700px){.page .col-md-8 .col-md-4:nth-child(2n+3),.single-themes .col-md-8 .col-md-4:nth-child(2n+3){clear:both}}
@media screen and (min-width:300px){.page .col-md-8 .col-xs-6.col-md-4:nth-child(2n+3),.single-themes .col-md-8 .col-xs-6.col-md-4:nth-child(2n+3){clear:both}}
@media screen and (min-width:700px){.page .col-md-8 .col-xs-6.col-md-4:nth-child(2n+3),.single-themes .col-md-8 .col-xs-6.col-md-4:nth-child(2n+3){clear:none}}
.information-panel{background-color:#333;border-top:#444 solid 1px;box-shadow:0 1px 2px rgba(0,0,0,.2);height:160px;margin:0;padding:0}
.information-panel .row{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-flex-wrap:nowrap;-ms-flex-wrap:nowrap;flex-wrap:nowrap;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;-webkit-align-content:stretch;-ms-flex-line-pack:stretch;align-content:stretch;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center}
.information-panel h1{font-size:40px}
.information-panel p{color:#FFF;font-size:18px}
.information-panel button{border-color:#444;margin:12px 5px 0}
.information-panel button:hover{background-color:#555;border-color:#444}
.information-panel.affix{background-color:#333;height:100px;top:-1px;z-index:10000}
body.page.about-us article a{text-decoration:underline}
body.home .all-themes{margin-bottom:50px}
body.home .newsletter{background-color:#333;color:#fff;float:left;height:100px;margin:30px 0 20px;padding:30px 30px 20px}
body.home .newsletter h3{font-size:24px;font-weight:800;margin:0;text-transform:uppercase}
body.home .newsletter p{margin:0}
body.home .newsletter button a{color:#fff}
body.home .newsletter .newsletter .btn{background-color:#444;border:none;border-color:red;padding:10px 20px;text-shadow:none}
body.home .newsletter input{background-color:transparent;border:1px solid #444;color:#fff;font-size:18px;padding:20px}
body.home .newsletter .input-group-btn{border:1px solid #444;background-color:#444}
body.home section.features{background-color:#EEE;margin-top:-80px;margin-bottom:100px;padding:50px 0 100px}
body.home section.features .col-md-4 h3,body.home section.features .col-md-4 p{background-color:#EEE}
.hero{background-position:center;background-size:cover;background-repeat:no-repeat;height:85vh;z-index:100;width:100%}
.hero h1{color:#fff;font-family:Montserrat,sans-serif;font-size:100px;font-weight:800;margin:15px 0 20px;text-transform:uppercase}
.hero h2{color:#fff;font-size:30px;font-weight:400;margin:0;text-transform:uppercase}
.hero button{border:1px solid #fff;background-color:transparent;border-radius:5px;color:#fff;font-size:18px;font-weight:800;margin:0 5px;padding:10px 20px;text-transform:uppercase}
.hero button a{color:#fff}
.hero button a:hover{text-decoration:none}
.hero span{color:#ddd}
.hero-bttf{background:#C02425;background:-webkit-linear-gradient(to left,#C02425,#F0CB35);background:-webkit-linear-gradient(right,#C02425,#F0CB35);background:linear-gradient(to left,#C02425,#F0CB35)}
body.splash .hero{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-flex-wrap:nowrap;-ms-flex-wrap:nowrap;flex-wrap:nowrap;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-align-content:stretch;-ms-flex-line-pack:stretch;align-content:stretch;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;height:calc(100vh - 160px)}
.jumbotron{background-color:#EEE;height:25vh;margin:0 0 50px;padding:0 5%;width:100%;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-flex-wrap:nowrap;-ms-flex-wrap:nowrap;flex-wrap:nowrap;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-align-content:stretch;-ms-flex-line-pack:stretch;align-content:stretch;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center}
@media screen and (min-width:600px){.jumbotron{-webkit-box-orient:horizontal;-webkit-box-direction:normal;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center}}
@media screen and (min-width:900px){.jumbotron{padding:0 5%}}
@media screen and (min-width:1200px){.jumbotron{padding:0 10%;margin:0 0 80px}}
@media screen and (min-width:1500px){.jumbotron{padding:0 20%}}
.jumbotron h1{font-family:Montserrat,sans-serif;font-size:30px;text-transform:uppercase;font-weight:800;margin:0;color:#fff;width:100%;text-align:center}
@media screen and (min-width:600px){.jumbotron h1{text-align:left;width:auto}}
@media screen and (min-width:900px){.jumbotron h1{font-size:40px}}
@media screen and (min-width:1500px){.jumbotron h1{font-size:60px}}
.jumbotron .buttons{text-align:center;width:100%}
@media screen and (min-width:600px){.jumbotron .buttons{text-align:left}}
.jumbotron button{border:1px solid #FFF;background-color:transparent;font-size:14px;text-transform:uppercase;font-weight:800;margin:0 3px 10px;padding:5px 10px;border-radius:5px;color:#fff}
@media screen and (min-width:600px){.jumbotron button{margin:0 5px;padding:8px 16px}}
@media screen and (min-width:900px){.jumbotron button{font-size:16px;padding:6px 14px}}
@media screen and (min-width:1500px){.jumbotron button{font-size:18px;padding:10px 20px}}
.jumbotron button a{color:#FFF}
.jumbotron button a:hover{text-decoration:none}
.jumbotron button:hover{background-color:transparent;border-color:#EEE;color:#EEE}
.jumbotron img{float:right;padding:0 10%;text-align:center;width:100%}
@media screen and (min-width:600px){.jumbotron img{margin:180px 0 0;padding:0;width:100%}}
.jumbotron p{font-size:15px;margin-bottom:5px;text-align:center;width:100%}
@media screen and (min-width:600px){.jumbotron p{margin-bottom:10px;text-align:left;width:auto}}
@media screen and (min-width:900px){.jumbotron p{font-size:18px}}
@media screen and (min-width:1500px){.jumbotron p{font-size:21px}}
.has-image{height:300px;margin-bottom:150px}
@media screen and (min-width:1500px){.has-image{height:400px}}
.jumbotron-item{color:#fff;min-width:45%;font-size:20px}
.home .jumbotron.primary{height:400px;width:100%;text-align:center;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center}
@media screen and (min-width:900px){.home .jumbotron.primary{height:500px}}
@media screen and (min-width:1200px){.home .jumbotron.primary{height:450px}}
@media screen and (min-width:1500px){.home .jumbotron.primary{height:600px}}
.home .jumbotron.primary p{font-size:20px;margin:0;text-align:center;text-transform:uppercase}
.home .jumbotron.primary h1{font-family:Montserrat,sans-serif;margin:10px 0 20px}
.single-themes .jumbotron{height:400px}
@media screen and (min-width:600px){.single-themes .jumbotron{height:300px}}
@media screen and (min-width:900px){.single-themes .jumbotron{height:350px}}
@media screen and (min-width:1200px){.single-themes .jumbotron{height:400px}}
@media screen and (min-width:1500px){.single-themes .jumbotron{height:500px}}
.single-themes .jumbotron img{margin:0}
.about-us .jumbotron,.single-post .jumbotron{height:300px;margin:0}
@media screen and (min-width:600px){.about-us .jumbotron,.single-post .jumbotron{height:300px}}
@media screen and (min-width:900px){.about-us .jumbotron,.single-post .jumbotron{height:350px}}
@media screen and (min-width:1200px){.about-us .jumbotron,.single-post .jumbotron{height:400px}}
@media screen and (min-width:1500px){.about-us .jumbotron,.single-post .jumbotron{height:500px}}
.about-us .jumbotron img,.single-post .jumbotron img{padding:0 20%;margin:0;width:100%}
ol{list-style-position:inside}
ol li{font-size:14px}
@media (min-width:1024px) and (max-width:1279px){ol li{font-size:16px}}
ol.decimal{list-style-type:decimal}
ol.decimal-leading-zero{list-style-type:decimal-leading-zero}
ol.lower-alpha{list-style-type:lower-alpha}
ol.lower-roman{list-style-type:lower-roman}
ol.upper-alpha{list-style-type:upper-alpha}
ol.upper-roman{list-style-type:upper-roman}
img:hover{opacity:.8}